*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Nunito';
}

.img-container{
    width: 320px;
    height: auto;
    display: flex;
    justify-content: center;
}

.img-container > .img-container__img{
    width: 300px;
    height: auto;
    object-fit: contain;
    object-position: 50% 50%;
}