*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Nunito';
}
body > h1{
    font-weight: 700;
    text-align: center;
    margin-block-start: 5px;
    margin-block-end: 5px;
}
#explore{
    display: flex;
    flex-direction: column;
}
#explore > .explore__article{
    width: 300px;
    align-self: center;
    border-radius: 5px;
}

.img-container > .img-container__img{
    width: 300px;
    height: auto;
    object-fit: contain;
    object-position: 50% 50%;
    margin-block-end: 10px;
    border-radius: 5px;
}

#explore > button{
    width: 100px;
    height: 30px;
    align-self: center;
    margin-block-end: 10px;
    border-radius: 5px;
}